{% extends 'base.html' %}
{% block title %}Edit Post{% endblock title %}

{% block content %}
<div style="padding-top:100px;">
    <div class="card" style="border:3px solid blue;">
        <div class="card-body">
            <h1 class="card-title" style="padding-top:10px; padding-bottom:15px;font-weight:550;">Edit Share</h1>
            <form style="font-weight:550;" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input style="margin-top:20px;" type="submit" value="Edit" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<div style="text-align:center;">
    <a href="{% url 'tos' %}" style="color:black;text-decoration:underline;">Terms of Service</a> 
</div>
<br />
<p class="copy" style="text-align:center;">©2022 faceTwitterGram, Inc. No rights reserved.</p>

{% endblock content %}