{% extends 'base.html' %}
{% block title %}Password reset done{% endblock title %}
{% block content %}
<h1>if this worked,</h1>
<p>your gonna get an email shortly</p>
<a href="{% url 'home' %}"> click here</a> to go to home page.
<br />
<br />
<br />
<br />
<br />
<div style="text-align:center;">
    <a href="{% url 'tos' %}" style="color:black;text-decoration:underline;">Terms of Service</a> 
</div>
<br />
<p class="copy" style="text-align:center;">©2022 faceTwitterGram, Inc. No rights reserved.</p>
{% endblock content %}