{% extends 'base.html' %}
{% block title %}Password Changed{% endblock title %}
{% block content %}
<h1>your password</h1>
<p>has been changed</p>
<a href="{% url 'home' %}"> click here</a> to go to phone home.
<br />
<br />
<br />
<br />
<br />
<div style="text-align:center;">
    <a href="{% url 'tos' %}" style="color:black;text-decoration:underline;">Terms of Service</a> 
</div>
<br />
<p class="copy" style="text-align:center;">©2022 faceTwitterGram, Inc. No rights reserved.</p>
{% endblock content %}