{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block content %}
<div>
<h1 style="text-align:center;padding-top:70px;padding-bottom:70px;">The <span class="blue">founding</span> <span class="green">fathers</span> of <span class="blue">face</span><span class="red">Twitter</span><span class="green">Gram</span></h1></div>
<div>
    <p style="font-size:25px;font-weight:550;"> Kyle Parker 👨‍🚀 🪖</p>
    <p style="font-size:20px;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti eaque iste libero tempora magnam minus dolorum ex architecto, accusamus a fugiat? Dolorem provident id ducimus quis earum nesciunt itaque sint. </p>
    <p style="font-size:20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, alias accusamus natus eligendi laboriosam culpa quasi impedit doloribus consectetur quam. Dolor cupiditate eligendi obcaecati amet ipsum nobis similique laudantium odit? Enim, neque labore minima harum voluptatum recusandae incidunt cumque eaque sed sit, eligendi delectus quam quidem aperiam! Rem, obcaecati ipsum.</p>

</div>'
<div>
    <p style="font-size:25px;font-weight:550;"> Daniel Avilez 🪂 🚢</p>
    <p style="font-size:20px;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti eaque iste libero tempora magnam minus dolorum ex architecto, accusamus a fugiat? Dolorem provident id ducimus quis earum nesciunt itaque sint. </p>
    <p style="font-size:20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, alias accusamus natus eligendi laboriosam culpa quasi impedit doloribus consectetur quam. Dolor cupiditate eligendi obcaecati amet ipsum nobis similique laudantium odit? Enim, neque labore minima harum voluptatum recusandae incidunt cumque eaque sed sit, eligendi delectus quam quidem aperiam! Rem, obcaecati ipsum.</p>
</div>
{% endblock content %}