{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
<div id="cont">
    <p class="welcome">Welcome to <span class="blue">face</span><span class="red">Twitter</span><span class="green">Gram</span>
    </p>
    <p class="connect">Connect with the <span id="world">world</span> and your <span
            id="friends">friends</span></p>
    <br />
    <p class="tenMil">Over <span class="millions">10,000,000</span> <span style="font-weight:500;">daily</span> users!</p>
    <br />
</div>
<div class="homePgBtns">
    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    <a href="{% url 'signup' %}" class="btn btn-success">Register</a>

</div>
<br />
<br />
<br />
<br />
<br />
<div style="text-align:center;">
    <a href="{% url 'tos' %}" style="color:black;text-decoration:underline;">Terms of Service</a> 
</div>
<br />
<p class="copy" style="text-align:center;">©2022 faceTwitterGram, Inc. No rights reserved.</p>

{% endblock content %}