{% extends 'base.html' %}
{% block title %}Terms of Service{% endblock title %}
{% block content %}
<div class="heads">
    <p class="head"><span class="blue">Terms</span><span class="red"> of</span><span class="green"> Service</span>
    </p>
</div>
<div class="body">
   <p class="unlike">Unlike at those other social media sites, the rules here at <span class="blue">face</span><span class="red">Twitter</span><span class="green">Gram</span> for what you can and cannot post are simple. </p>
    <p class="hate">1. No hate speech.</p>
    <p class="violence">2. No incitements to violence.</p>
    <br>
    <p class="who">Who decides what is <span id="hate">hate</span> speech and what is an incitement to <span id="violence">violence</span>?</p>
    <p class="judges" >A <span id="secret">secret</span> panel of <span id="judges">30 judges</span></p>
</div>
<br />
<br />
<br />
<p class="copy" style="text-align:center;">©2022 faceTwitterGram, Inc. No rights reserved.</p>

{% endblock content %}